*{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  background:linear-gradient(to right,rgb(241, 238, 238),cyan);
    overflow-x: hidden;
    max-height: fit-content;
    background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
    font-size: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
